---
import { type CollectionItem } from "@/content";
import { SITE } from "@/config";
import { getT } from "@/i18n/ui";
import Outline from "../utils/Outline.astro";

interface Props {
  item: CollectionItem;
  exclusive: boolean;
}

const { item, exclusive } = Astro.props;
const { Content, frontmatter } = item;
const { t } = getT(Astro.currentLocale);

const page_width = "max-w-" + SITE.page_width;
---

<div
  class:list={[
    page_width,
    "article-wrapper relative mx-auto shadow",
    !exclusive && "collapsible my-4",
  ]}
>
  <article
    class:list={[
      "article bg-(--article-bg) px-8 py-4",
      !exclusive && "h-48 overflow-hidden transition-[height] duration-300",
    ]}
  >
  {
    exclusive ? (
      <h1 id={item.slug}>{frontmatter.title ?? item.slug}</h1>
    ) : (
      <a
        href={item.slug}
        class:list={"title-a text-xl transition-[font-size] duration-300"}
      >
        <b>{frontmatter.title ?? item.slug}</b>
      </a>
    )
  }
    <Content />
  </article>
  <sticky-rail
    class:list={[
      "sticky-rail absolute inset-y-0 -right-4 w-0 transition-opacity duration-300",
      exclusive
        ? "pointer-events-auto opacity-100"
        : "pointer-events-none opacity-0",
    ]}
  >
    <div class="sticky top-20 flex gap-2">
      <Outline toc={item.headings} />
      {
        !exclusive && (
          <button
            type="button"
            title={t("article.collapse")}
            class="absolute left-13 collapse-btn grid size-10 shrink-0 cursor-pointer place-items-center rounded-full bg-(--article-bg) shadow hover:brightness-90"
          >
            ⏶
          </button>
        )
      }
    </div>
  </sticky-rail>
  {
    !exclusive && (
      <div class="fade-mask absolute inset-x-0 bottom-0 h-35 cursor-pointer transition-opacity duration-300">
        <p class="text-blue-500 text-center w-full absolute bottom-2">
          {t("article.expand")}
        </p>
      </div>
    )
  }
</div>

<style>
  .fade-mask {
    background: linear-gradient(
      to bottom,
      color-mix(in srgb, var(--article-bg) 0%, transparent),
      var(--article-bg)
    );
  }
  .collapsible.expanded > article {
    height: calc-size(auto, size);
  }
  .expanded .fade-mask {
    opacity: 0;
    pointer-events: none;
  }
  .expanded .sticky-rail {
    opacity: 1;
    pointer-events: auto;
  }
  .expanded {
    a.title-a {
      font-size: 2rem;
    }
  }
</style>

<script>
  document.querySelectorAll<HTMLButtonElement>(".fade-mask").forEach((mask) => {
    mask.addEventListener("click", () => {
      mask.closest(".article-wrapper")?.classList.add("expanded");
    });
  });
  document
    .querySelectorAll<HTMLButtonElement>(".collapse-btn")
    .forEach((btn) => {
      btn.addEventListener("click", () => {
        btn.closest(".article-wrapper")?.classList.remove("expanded");
      });
    });
</script>
