---
import Layout from "@/layouts/Layout.astro";
import Article from "@/components/common/Article.astro";
import { getT } from "@/i18n/ui";
import { getCollection } from "@/content";

export function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "zh" } }];
}
const { lang, t } = getT(Astro.currentLocale);
const posts = getCollection("posts", lang);
---

<Layout title={t("nav.posts") + t("site.title_suffix")} desc="">
  <ul>
    {
      posts.map((p) => (
        <li>
          <a href={`/${lang}/posts/${p.slug}`}>
            {p.frontmatter.title ?? p.slug}
          </a>
        </li>
      ))
    }
  </ul>
  {posts.map((p) => <Article item={p} exclusive={false} />)}
</Layout>
