---
import { type CollectionItem } from "@/content";
import { SITE } from "@/config";
import { getT } from "@/i18n/ui";

interface Props {
  item: CollectionItem;
  exclusive: boolean;
}

const { item, exclusive } = Astro.props;
const { Content, frontmatter } = item;
const { t } = getT(Astro.currentLocale);

const page_width = "max-w-" + SITE.page_width;
---

<div
  class:list={[
    page_width,
    "article-wrapper relative mx-auto shadow",
    !exclusive && "collapsible my-4",
  ]}
>
  <article
    class:list={[
      "article bg-(--article-bg) px-8 py-4",
      !exclusive && "h-48 overflow-hidden transition-[height] duration-1000",
    ]}
  >
    <a href={item.slug} class:list={exclusive ? "hidden" : "title-a text-xl"}
      ><b>{frontmatter.title ?? item.slug}</b></a
    >
    <h1 class:list={exclusive ? "" : "title-a hidden"}>
      {frontmatter.title ?? item.slug}
    </h1>
    <Content />
  </article>
  {
    !exclusive && (
      <div class="fade-mask absolute inset-x-0 bottom-0 h-20 cursor-pointer">
        <p class="text-blue-500 text-center w-full absolute bottom-2">
          {t("article.expand")}
        </p>
      </div>
    )
  }

  <style>
    .fade-mask {
      background: linear-gradient(
        to bottom,
        color-mix(in srgb, var(--article-bg) 0%, transparent),
        var(--article-bg)
      );
    }
    .collapsible.expanded > article {
      height: calc-size(auto, size);
    }
    .expanded .fade-mask {
      opacity: 0;
      pointer-events: none;
    }
    .expanded {
      a.title-a {
        display: none;
      }
      h1.title-a {
        display: block;
      }
    }
  </style>

  <script>
    document
      .querySelectorAll<HTMLButtonElement>(".fade-mask")
      .forEach((mask) => {
        mask.addEventListener("click", () => {
          const wrapper = mask.closest(".article-wrapper");
          if (!wrapper) return;
          wrapper.classList.add("expanded");
        });
      });
  </script>
</div>
