---
import { SITE } from "@/config";
import IconAstro from "@/assets/astro.svg";
---

<footer class="w-full px-4 mt-16">
  <div
    class="mx-auto py-8 flex flex-col items-center gap-2 text-sm text-gray-500 dark:text-gray-400"
  >
    <p>Copyright © {new Date().getFullYear()} {SITE.author}</p>
    <p>
      Powered by
      <a href="https://astro.build/" target="_blank" class="hover:underline"
        ><IconAstro
          viewBox="0 0 115 48"
          class="inline h-[1.75em] w-auto dark:invert"
        /></a
      >
      | Themed by
      <a
        href="https://github.com/fux-i/astro-fuxi"
        target="_blank"
        class="hover:underline">astro-fuxi</a
      >
    </p>
  </div>
</footer>
