---
import BaseHead from "@/components/common/BaseHead.astro";
import Header from "@/components/common/Header.astro";
import ThemeScript from "@/components/common/ThemeScript.astro";
import Footer from "@/components/common/Footer.astro";

interface Props {
  title: string;
  desc: string;
  image?: ImageMetadata;
}

let { title, desc, image = undefined } = Astro.props;
---

<!doctype html>
<html lang={Astro.currentLocale ?? "en"}>
  <head>
    <BaseHead title={title} desc={desc} image={image} />
    <ThemeScript />
  </head>
  <body class="bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100 pt-16">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
